* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  // overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topnav {
  background-color: #596275;
  // display: flex;flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.topnav > a {
  // background-color: yellowgreen;
  float: left;
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}

.nav_hamburger {
  display: none;
  background-color: transparent;
  color: white;
  border: solid 0px black;
  font-size: 1.5rem;
}

.mainHomeDiv {
  width: 100vw;
  height: 100%;
  // background-color: slateblue;
  display: flex;
  flex-direction: row;
}

.homeTitleDiv {
  width: 50%;
  height: 90vh;
  // background-color: snow;
}

.homeTitleDiv > p:first-child {
  width: 100%;
  height: 30%;
  // background-color: steelblue;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.homeTitleDiv > p:nth-child(2) {
  width: 100%;
  height: 30%;
  // background-color: tan;
  font-size: 3.5rem;
  padding-top: 2rem;
  padding-left: 2rem;
}

.homeBtn {
  width: 6.5rem;
  height: 2.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  border-radius: 2rem;
  background-color: #596275;
  border: solid 0px black;
  outline: none;
  color: white;
  font-size: 1rem;
}

.homeImgDiv {
  box-sizing: border-box;
  width: 50%;
  height: 90vh;
  // background-color:springgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 70%;
    height: 70%;
  }
}

.mainCatDiv {
  width: 100%;
  height: 90vh;
  // background-color: steelblue;
  display: flex;
  flex-direction: row;
  .catSideDiv {
    width: 20%;
    height: 100%;
    // background-color: turquoise;
    text-align: center;
    padding-top: 9rem;
    p {
      font-size: 2rem;
    }
  }
  .selectCatDiv {
    width: 80%;
    height: 100%;
    // background-color: wheat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.filters {
  width: 100%;
  height: 40%;
  // background-color: #fff;
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  input{
    width: 1rem;
  height: 1rem;
  }
}



.mainCardDiv {
  width: 18rem;
  height: 24rem;
  background-color: white;
  margin: 2rem;
  // box-sizing: border-box;
  margin: 4rem;
  border-radius: 2rem;
  box-shadow: 5px 3px 26px 1px;
  
}

.cardImgdiv{
  position: relative;
  // box-sizing: border-box;
  border-radius: 2rem;
  overflow: hidden;
  width: 18rem;
  height: 14rem;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.cardContentDiv {
  p {
    font-size: 1.3rem;
  }
  button{
    margin-top: .6rem;
    margin-left: .6rem;
    width: 5rem;
    height: 1.5rem;
    border-radius: 2rem;
  }
}

.emptyCartDiv{
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #6699b4;
  img{
    width: 45%;
    height: 90%;
  }
}

.checkOutDiv{
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  // background-color:tan;
  .chkOtMainDiv{
    position: relative;
    width: 60%;
    background-color: #c8d6e5;
    display: block;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px 2px;
    .chkOutHr{
      width: 90%;
      margin: auto;
      margin-bottom: 1.5rem;
    }
    .chkOtHeadingDiv{
      display: flex;
      justify-content: space-around;
      p{
        width: 10rem;
        background-color: transparent;
        text-align: center;

      }
      
    }
    
    .chkOtItemsDiv{
      display: flex;
      justify-content: space-around;
      .productImgDiv{
        margin: auto;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
        }
      }
      div{
        width: 10rem;
        background-color: transparent;
        text-align: center;
      }
      .cancelBtn{
        background-color: transparent;
        border: 0px solid black;
        .fa{
          font-size: 1.2rem;
        }
      }
    }
  }
}















@media only screen and(max-width:600px) {
  .topnav > a:not(:first-child) {
    display: none;
  }
  .nav_hamburger {
    float: right;
    display: block;
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
}

@media only screen and(max-width:600px) {
  .topnav.responsive {
    position: relative;
  }
  .nav_hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
